.container {
  width: 960px;
  margin: 0 auto;
}

#grid {
  border-collapse: collapse;
}

#grid td {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.snake_head {
  background-color: red;
}

.food {
  background-color: blue;
  border-radius: 50%;
}

#stopGame {
  font-size: 100px;
  text-align: center;
}

button{
  color: blue;
  font-size: 30px;
}

.score{
  font-size: 30px;
  padding-top: 100px;
  text-align: center;
}
